@tailwind base;
@tailwind components;
@tailwind utilities;

/* .datepicker-div .Kq {
    display: none;
} */

.datepicker-div .Kq svg{
    display: none;
}

.datepicker-div .Ez:after {
    left: -15px;
    /* background: linear-gradient(to right, transparent 0, black 128px, black calc(100% - 128px), transparent 100%); */
    background: linear-gradient(to right, #0f172a, #0f172a00);
}
.datepicker-div .WP:after {
    right: -15px;
    /* background: linear-gradient(to right, transparent 0, black 128px, black calc(100% - 128px), transparent 100%); */
    background: linear-gradient(to left, #0f172a, #0f172a00);
}

.datepicker-div .jb {
    color: #fff;
}

.datepicker-div ._3n {
    background-color: rgb(51 65 85/1);
}

.datepicker-div ._1g {
    color: tomato;
}

.datepicker-div ._2E .Lx {
    color: #fff;
}

.datepicker-div .Lx {
    color: #fff;
}

.datepicker-div ._2E ._1g {
    color: tomato;
}
.datepicker-div .FC {
    background-color:  rgb(79 70 229/1);;
    color: #fff;
}
.datepicker-div .FC ._1g{
    color: #fff;
}